.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

    .calendar .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

        .calendar .links a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.75rem;
            height: 1.75rem;
            padding: 0.75rem;
            border-radius: 0.5rem;
            background: #254d5910;
        }

        .calendar .links a:hover {
            background: #254d5920;
        }

        .calendar .links a img {
            width: 100%;
            height: 100%;
        }

    .calendar .with-divider {
        position: relative;
        padding-top: 2.5rem;
        margin-top: 1.5rem;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    .calendar .with-divider::before {
        content: '';
       
        position: absolute;
        top: 0;

        width: 100%;

        width: 2rem;
        height: 4px;
        background: var(--slate-gray);
        border-radius: 2px;
        opacity: 0.75;
    }
