@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "./_animations.css";

@import "./components/_navigation.layout.css";
@import "./components/_hero.component.css";
@import "./components/_countdown.component.css";
@import "./components/_addcalendar.component.css";
@import "./components/_sectionwithtitle.component.css";
@import "./components/_animatedemoji.component.css";
@import "./components/_metrics.component.css";
@import "./components/_gallery.component.css";
@import "./components/_features.component.css";

:root {
    --font-family-body: 'Ubuntu', 'Segoe UI', -apple-system, BlinkMacSystemFont, Geneva, Verdana, sans-serif;
    --font-family-title: 'Luckiest Guy', 'Ubuntu', 'Segoe UI', -apple-system, BlinkMacSystemFont, Geneva, Verdana, sans-serif;

    --max-width: 1400px;
    --section-gap: 4rem;
    --border-radius: 0.25rem;

    --white: #FFF;

    --slate-gray: #73898c;
    --dark-slate-blue: #254d59;
    --dark-blue-gray: #161b22;
    --ultramarine-blue: #5750fe;
    --golden-poppy: #fbca2b;
    --dark-golden-poppy: #ffdb2b;
    
    --background-color: #FFF;

    --fs-micro: 0.9rem;
    --fs-tiny: 1.15rem;
    --fs-small: 1.35rem;
    --fs-normal: 1.5rem;
    --fs-big: 2rem;
    --fs-huge: 4rem;
    
    --margin-500: 5rem;
    --margin-400: 3rem;
    --margin-300: 2rem;
    --margin-200: 1rem;
    --margin-100: 0.5rem;
}

.ultramarine-blue {
    color: var(--ultramarine-blue);
}

.slate-gray {
    color: var(--slate-gray);
}

.dark-slate-blue {
    color: var(--dark-slate-blue);
}

.golden-poppy {
    color: var(--golden-poppy);
}

.dark-blue-gray {
    color: var(--dark-blue-gray);
}

.bold {
    font-weight: 500;
}

.fs-tiny {
    font-size: var(--fs-tiny);
}

.fs-small {
    font-size: var(--fs-small);
}

.fs-normal {
    font-size: var(--fs-normal);
}

.fs-big {
    font-size: var(--fs-big);
}

.fs-huge {
    font-size: var(--fs-huge);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);

    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: var(--fs-huge);
}

h2 {
    font-size: var(--fs-big);
}

p {
    margin: 0;
}

small {
    font-size: var(--fs-small);
}

.mt-5 { margin-top: var(--margin-500); }
.mt-4 { margin-top: var(--margin-400); }
.mt-3 { margin-top: var(--margin-300); }
.mt-2 { margin-top: var(--margin-200); }
.mt-1 { margin-top: var(--margin-100); }

.mb-5 { margin-bottom: var(--margin-500); }
.mb-4 { margin-bottom: var(--margin-400); }
.mb-3 { margin-bottom: var(--margin-300); }
.mb-2 { margin-bottom: var(--margin-200); }
.mb-1 { margin-bottom: var(--margin-100); }

button,
.button {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: var(--fs-tiny);
    text-decoration: none;
    cursor: pointer;

    opacity: 1;
    transition: all 0.2s ease-out;
}

.button:hover {
    /* transform: scale(1.025); */
    outline: none;
}

.button:focus {
    outline: none;
}

.button:active {
    transform: scale(0.95);
    opacity: 0.95;
}

.button.primary {
    border: 2px solid var(--golden-poppy);
    background-color: var(--golden-poppy);
    color: var(--dark-blue-gray);
}

    /* -- Primary Button Hover & Active Styles -- */
    .button.primary:hover,
    .button.primary:active {
        border: 2px solid var(--dark-golden-poppy);
        background-color: var(--dark-golden-poppy);
        color: var(--dark-blue-gray);
    }

* {
    transition: all 0.2s ease-out;
}

html {    
    scrollbar-color: var(--secondary-500) var(--secondary-400);
    scrollbar-width: thin;
    min-width: 400px;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--fs-normal);
    position: relative;
    background: var(--background-color);

    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

main {
    max-width: var(--max-width);
    width: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.hidden {
    display: none;
}

section {
    padding: 3rem 0;
}

@media (min-width: 560px) {
    :root {
        --fs-huge: 5rem;
    }
}